body{
    background: #333
}

p{
    text-align: center;
    color: aqua;
}

.logo_img{
    
    width:200px;
    height:200px;
    
}




.change__theme{
    display: block;
    text-align: center;
}


footer{
    
}